<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Sites"
             type="System.Configuration.NameValueSectionHandler"/>
  </configSections>
  <Sites>
    <add key="site2"
         value="https://sweethome03.sharepoint.com/"/>
  </Sites>
  <appSettings>
    <add key="ClientId" value="6ef2f0b2-6fa6-4c85-b40e-1fff453d5674"/>
    <add key="ClientSecret" value="0Be8NcTsohr/nDgQlon1DTDauYQviXn3uN8sQKcIq44="/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>