<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SPTimerJobSimulation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SPTimerJobSimulation.Properties.Settings>
            <setting name="ClientId" serializeAs="String">
                <value>6ef2f0b2-6fa6-4c85-b40e-1fff453d5674</value>
            </setting>
            <setting name="ClientSecret" serializeAs="String">
                <value>0Be8NcTsohr/nDgQlon1DTDauYQviXn3uN8sQKcIq44=</value>
            </setting>
        </SPTimerJobSimulation.Properties.Settings>
    </applicationSettings>
</configuration>